<div class="justify-center">
  <h1
    class="pb-2 text-4xl font-normal tracking-tight text-transparent bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text font-display sm:text-6xl"
  >
    Unleash your potential
    <span class="lg:block"> through seamless online learning</span>
  </h1>
  <p class="max-w-xl mt-4 text-vanta-300">
    Discover a boundless realm of knowledge and personal growth, all
    conclaiently accessible right at your fingertips
  </p>
  <div class="relative flex flex-col max-w-xl gap-2 mt-12 sm:flex-row">
    <a
      href="#"
      class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white transition-all rounded-lg hover:to-vanta-600 bg-gradient-to-b from-vanta-300 via-vanta-400 to-vanta-500"
      >Buy Vanta</a
    >
    <a
      href="/"
      class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/10"
      >See all pages</a
    >
  </div>
</div>
