---
import Cards_projects from "../../components/Cards_projects.astro"
---
<section class="relative px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-56">
  <div class="flex justify-start p-7 w-full">
    <h1 class="text-[40px] text-white font-display lg:text-xl">Projects</h1>
  </div>
  <Cards_projects></Cards_projects>
  <Cards_projects></Cards_projects>
</section>