---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../pages/sections/Header.astro";
import Cards_projects from "../components/Cards_projects.astro";
import Projects from "../pages/sections/Projects.astro";
import About from "../pages/sections/About.astro";
---

<Layout title="Portafolio">
  <main>
	  <Header />
	  <About ></About>
	  <Projects />
  </main>
</Layout>
