---
import Layout from "../layouts/Layout.astro";
import Header from "../pages/sections/Header.astro";
import About from "../pages/sections/About.astro";
import Projects from "./Projects.astro";
import Stack from "./sections/Stack.astro";
import Contact from "./sections/Contact.astro";
import Footer from "./sections/Footer.astro";
---

<Layout title="Portafolio">
  <main>
    <Header/>
  </main>
  <About  />
  <Stack/>
  <Projects />
  <Contact/>
  <Footer />
</Layout>
