---
import Cards_projects from "../components/Cards_projects.astro";
import Cards_info from "../components/Cards_info.astro";
import Cards_simple from "../components/Cards_simple.astro";
import Tech_stack from "../components/Tech_stack.astro";
---

<section 
  class="fondo relative px-8 py-10 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-56 lg:pb-20"
>
  <div id="project" class="flex justify-start p-7 w-full">
    <h1
      class="pt-28 text-shadow-glow xs:text-fluid-base z-20 max-w-[20ch] animate-fade-up text-center sm:text-6xl text-[35px] font-semibold leading-none"
    >
      <span
        
        class="bg-clip-text text-transparent pb-2 bg-gradient-to-r from-[#e8b066] to-[#df12ff]"
        >Projects</span
      >
    </h1>
  </div>
  <ol
    role="list"
    class="grid grid-cols-1 gap-3 mt-12 sm:grid-cols-2 lg:mt-12 lg:grid-cols-3"
  >
    <Cards_simple
      project="Project 1"
      ,
      title="E-commers"
      ,
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt alias itaque placeat, repellat blanditiis dolore consectetur in quos adipisci doloribus magnam quibusdam nostrum earum quidem voluptate maxime? Nobis, ullam laborum."
      ,
      tags="Angular 17"
    />
    <Cards_simple
      project="Project 1"
      ,
      title="E-commers"
      ,
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt alias itaque placeat, repellat blanditiis dolore consectetur in quos adipisci doloribus magnam quibusdam nostrum earum quidem voluptate maxime? Nobis, ullam laborum."
      ,
      tags="Angular 17"
    />
    <Cards_simple
      project="Project 1"
      ,
      title="E-commers"
      ,
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt alias itaque placeat, repellat blanditiis dolore consectetur in quos adipisci doloribus magnam quibusdam nostrum earum quidem voluptate maxime? Nobis, ullam laborum."
      ,
      tags="Angular 17"
    />
  </ol>
</section>

<style>
  .fondo {
    /*  background: rgb(87, 87, 87);
    background: radial-gradient(
      circle,
      rgba(87, 87, 87, 1) 0%,
      rgba(3, 3, 3, 1) 40%
    ); */
    background: rgb(87, 87, 87);
    background: radial-gradient(
      circle,
      rgba(87, 87, 87, 1) 0%,
      rgba(3, 3, 3, 0) 40%
    );
  }
</style>
