---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  href={href}
  class="rounded-lg px-4 py-2 text-sm transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-8 ring-1 ring-inset ring-white/10"
>
  {title}
</a>
