<div
  class="grid flex-col justify-between gap-2 mt-4 gird-cols-1 lg:grid-cols-2 md:grid-cols-2 w-lg"
>
  <div
    class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl lg:mt-24"
  >
    <div
      class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card"
    >
      <div></div>
      <div class="flex flex-col gap-2 p-4">
        <p class="text-lg text-white font-display lg:text-xl">
          Personalized learning paths
        </p>
        <p class="text-sm text-vanta-300">
          Embark on a tailored educational journey, with courses curated to
          match your interests, goals, and learning pace.
        </p>
      </div>
    </div>
  </div>
  <div
    class="h-full p-2 bg-gradient-to-t from-white/20 ring-1 ring-white/10 rounded-3xl"
  >
    <div
      class="flex flex-col justify-between h-full p-4 overflow-hidden shadow-massive ring-1 ring-white/10 rounded-2xl bg-card"
    >
    
      <div></div>
      <div class="flex flex-col gap-2 p-4">
        <p class="text-lg text-white font-display lg:text-xl">
          Interactive discussions
        </p>
        <p class="text-sm text-vanta-300">
          Engage in vibrant discussions with fellow learners and educators,
          fostering a collaborative learning environment.
        </p>
      </div>
    </div>
  </div>
</div>
