<div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24 relative">
  <div class="max-w-2xl mx-auto text-center">
    <p
      class="bg-gradient-to-r from-vanta-50 via-vanta-300 to-vanta-600 bg-clip-text text-transparent text-4xl font-normal font-display tracking-tight pb-2 sm:text-6xl"
    >
      A skill building <span class="lg:block">journey with Vanta</span>
    </p>
    <p class="text-vanta-300 mt-4 max-w-sm mx-auto">
      Read how vanta helped master news skills
    </p>
  </div>
  <ol
    role="list"
    class="grid grid-cols-1 gap-3 mt-12 sm:grid-cols-2 lg:mt-24 lg:grid-cols-3 [&>*:nth-child(1)]:-rotate-12 [&>*:nth-child(3)]:rotate-12"
  >
    <li
      class="ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl"
    >
      <div
        class="h-full p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <p class="text-sm text-vanta-300">
              "I'm amazed by the quality of courses offered on this platform.
              The instructors are experts in their fields, and the interactive
              learning approach keeps me engaged. I've gained skills I can
              immediately apply to my career"
            </p>
            <div class="flex-shrink-0 block mt-12">
              <div class="flex items-center">
                <div>
                  <p class="text-sm font-display text-white">Roberto Johnson</p>
                  <p class="text-vanta-300">Digital Marketing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li
      class="ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl"
    >
      <div
        class="h-full p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <p class="text-sm text-vanta-300">
              "As a full-time professional, I needed flexible learning options.
              This platform exceeded my expectations. The self-paced courses and
              diverse subjects let me customize my learning journey. I've gained
              new skills that helped me stand out in my industry."
            </p>
            <div class="flex-shrink-0 block mt-12">
              <div class="flex items-center">
                <div>
                  <p class="text-sm font-display text-white">Emilia Pirelli</p>
                  <p class="text-vanta-300">Digital Marketing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li
      class="ring-white/10 ring-1 p-2 bg-gradient-to-t from-white/20 rounded-3xl"
    >
      <div
        class="h-full p-8 ring-1 ring-white/10 rounded-2xl lg:p-10 shadow-massive bg-card/80"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <p class="text-sm text-vanta-300">
              "The community here is incredible. From insightful discussions to
              peer feedback, I feel supported every step of the way. The
              certifications I earned have boosted my resume, and I've found a
              platform that truly values my growth."
            </p>
            <div class="flex-shrink-0 block mt-12">
              <div class="flex items-center">
                <div>
                  <p class="text-sm font-display text-white">Fino Como</p>
                  <p class="text-vanta-300">Digital Marketing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
