---
import Buttom from "../components/Buttom_nav"
import NavAurora from "../components/Nav_aurora.astro"
import Navaurora from "../components/Nav_aurora.astro"
---
<div class="fixed z-50 w-full overflow-hidden relatve backdrop-blur-2xl">
  <!--   <Nav /> -->
  <NavAurora></NavAurora>
  <div
    x-data="{ open: false }"
    class="relative flex flex-col w-full px-8 py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32"
  >
    <div
      class="flex flex-row items-center justify-between text-white lg:justify-start"
    >
      <a href="/" class="inline-flex items-center gap-3">
        <span class="font-light text-xl uppercase">Portfolio</span>
      </a>
    </div>
    <Buttom client:load></Buttom>
  </div>
</div>